{% extends 'base.html'%}

{% block content %}
<div class="container-main">
    <form action="{%url 'adicionar_paciente'%}" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
        <table class="table" style="max-width: 500px">
            {{form}}
            <tr>
                <td colspan="2">
                    <br>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </td>
            </tr>
        </table>
    </form>
</div>


{% endblock %}