{% extends 'base.html'%}

{%block content%}
{% include 'parcials/_messages.html'%}

<div class="container-fluid">
<h1> Bem vindo, Dr. {{medico.dados_pessoais.first_name}} </h1>


<a href="{% url 'adicionar_paciente'%}" class="btn btn-info btn-lg">
  <span class="glyphicon glyphicon-log-out"></span> Adicionar Paciente
</a>

<a href="{% url 'lista_pacientes'%}" class="btn btn-info btn-lg">
  <span class="glyphicon glyphicon-log-out"></span> Lista de Pacientes
</a>

<a href="{% url 'logout_med'%}" class="btn btn-info btn-lg">
  <span class="glyphicon glyphicon-log-out"></span> Logout
</a>
</div>
{%endblock%}

