{% extends 'base.html' %}

{% block content %}
<div class="container">
<h1 class="mt-5">{{ exame.paciente.first_name }} {{ exame.paciente.last_name }}</h1>


  <dl>
      <dt>ID</dt>
      <dd>{{ exame.id }}</dd>

      <dt>Laboratório</dt>
      <dd>{{ exame.laboratorio }}</dd>

       <dt>Data do exame</dt>
      <dd>{{ exame.data_criacao | date:'d/m/Y h:i:s'}}</dd>

      <dt>Hemácias</dt>
      <dd>{{ exame.hemacias }}</dd>

      <dt>Hematocrito</dt>
      <dd>{{ exame.hematocrito }}</dd>

      <dt>Hemoglobina</dt>
      <dd>{{ exame.hemoglobina }}</dd>

      <dt>VCM</dt>
      <dd>{{ exame.VCM }}</dd>

      <dt>HCM</dt>
      <dd>{{ exame.HCM }}</dd>

      <dt>CHCM</dt>
      <dd>{{ exame.CHCM }}</dd>

      <dt>RDW</dt>
      <dd>{{ exame.RDW }}</dd>

      <dt>Eritroblastos</dt>
      <dd>{{ exame.eritroblastos }}</dd>

      <dt>Leucocitos</dt>
      <dd>{{ exame.leucocitos }}</dd>

      <dt>Mielocitos</dt>
      <dd>{{ exame.mielocitos }}</dd>

      <dt>Metamielocitos</dt>
      <dd>{{ exame.metamielocitos }}</dd>

      <dt>Bastonetes</dt>
      <dd>{{ exame.bastonetes }}</dd>

      <dt>Segmentados</dt>
      <dd>{{ exame.segmentados }}</dd>

      <dt>Neutrofilos Totais</dt>
      <dd>{{ exame.neutrofilos_totais }}</dd>

      <dt>Eosinofilos</dt>
      <dd>{{ exame.eosinofilos }}</dd>

      <dt>Basofilos</dt>
      <dd>{{ exame.basofilos }}</dd>

      <dt>Linfocitos</dt>
      <dd>{{ exame.linfocitos }}</dd>

      <dt>Linfocitos Atípicos</dt>
      <dd>{{ exame.linfocitos_atipicos }}</dd>

      <dt>Monocitos</dt>
      <dd>{{ exame.monocitos }}</dd>

      <dt>Plasmocitos</dt>
      <dd>{{ exame.plasmocitos }}</dd>

      <dt>Plaquetas</dt>
      <dd>{{ exame.plaquetas }}</dd>

    </dl>
     <a href="#" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-log-out"></span> Editar
    </a>
    <a href="{% url 'excluir_exame' exame.id %}" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-log-out"></span> Excluir
    </a>




</div>

{% endblock %}